<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55070004217-in8pnjh848pds03kpntv75fd164e3orq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55070004217-in8pnjh848pds03kpntv75fd164e3orq</string>
	<key>API_KEY</key>
	<string>AIzaSyDy4haqTjLvgPUtcGUjHvRB2LsBewQvrgA</string>
	<key>GCM_SENDER_ID</key>
	<string>55070004217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flPafRsnOsJ.CTA-Project</string>
	<key>PROJECT_ID</key>
	<string>cta-project-77c93</string>
	<key>STORAGE_BUCKET</key>
	<string>cta-project-77c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55070004217:ios:b92117150496e2bc356328</string>
	<key>DATABASE_URL</key>
	<string>https://cta-project-77c93.firebaseio.com</string>
</dict>
</plist>